---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  {%if page.toc%}
  <div class="toc">
    {% assign my_min = page.toc_min | default: site.toc_min | default: 2 %}
    {% assign my_max = page.toc_max | default: site.toc_max | default: 3 %}
    
    {% include toc.html html=content sanitize=true h_min=my_min h_max=my_max %}  
  </div>
  {%endif%}

  <div class="post-content">
    {{ content }}
  </div>

</article>